<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><span><img src="../../assets/logo.png" style="width:200px"></span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown show" *ngFor="let item of menuItems" (mouseover)="expandProfile(item?.id)"
        (clickOutside)="close($event)" routerLinkActive="active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{item.mainCategory}}
        </a>
        <span *ngIf="this['show'+item?.id] && hideAll">
          <div class="dropdown-menu show" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#" *ngFor="let subItem of item?.subCategory" (click)="selectSubCategory(subItem?.id)">{{subItem?.name}}</a>
          </div>
        </span>
      </li>
    </ul>
  </div>
</nav>
